/* grid based styling */
body{
    background-color: black;
    color: antiquewhite;
}
.container{
    display: grid;
    grid-template-areas:
    'header-logo header-banner header-menu'
    'left main main right'
    'footer footer footer';
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 2fr;
}
.header{
    grid-area: header;
}
aside{
    background-color: white;
    color: black;
}
.left-side{
    grid-area: left;
}
.primary-content{
    grid-area: main;
    min-height: 100%;
}
.right-side{
    grid-area: right;
}
.footer{
    grid-area: footer;
}
.header-logo {
    grid-area: header-logo;
}
.header-banner {
    grid-area: header-banner;
}
.header-menu {
    grid-area: header-menu;
}