/* grid based styling */
body{
    background-color: black;
    color: antiquewhite;
}
.container{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'left main main main main right'
    'footer footer footer footer footer footer';
}
.header{
    grid-area: header;
}
aside{
    background-color: white;
    color: black;
}
.left-side{
    grid-area: left;
}
.primary-content{
    grid-area: main;
}
.right-side{
    grid-area: right;
}
.footer{
    grid-area: footer;
}