/* grid based styling */
body{
    background-color: black;
    color: antiquewhite;
}
.container{
    display: grid;
    grid-template-areas:
    'header-logo header-banner header-menu'
    'left-side primary-content right-side'
    'footer footer footer';
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-gap: 15px;
}

aside{
    background-color: white;
    color: black;
}
.header-logo{

}
.header-banner {
    text-align: center;
}
.header-menu {
    text-align: right;
}
.primary-content{

}
